@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #635F5D
}

.mark {
    fill: #137B80
}

.axis-label {
    font-size: 1.5em;
    fill: #635F5D
}