.country {
    fill: #137B80;
    stroke: #c0c0bb;
}

.interiors {
    fill: none;
    stroke: #ececeb;
}

.sphere {
    fill: #f0f0ea;
    opacity: 0.3;
}

.graticules {
    fill: none;
    stroke: #b3b3b3;
    opacity: 0.3;
}

circle {
    fill: #ff3c00;
    opacity: 0.3;
  }