@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.tick line {
    stroke: #C0C0BB;
    stroke: #b3b3b3;
    opacity: 0.3;
}

.tick text {
	fill: #635F5D;
	font-size: .6em;
}

.mark {
    fill: #137B80
}

.hist-bg {
    fill: #FBFBF9;
    opacity: 1;
}

.axis-label {
    font-size: .8em;
    fill: #635F5D
}

