@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #635F5D;
}

.axis-label, .dropdown-label{
    font-size: 1.5em;
    fill: #635F5D;
    color: #635F5D;
}

.dropdown-label{
  margin-left: 5px;
  margin-right: 5px;
}


.Dropdown-root{
    width: 300px;
    display: inline-block;
}

.menus-container{
    display: flex;
    justify-content: center;
    align-items: center;
}